[submodule "lib/starknet-dss"]
	path = lib/starknet-dss
	url = https://github.com/makerdao/starknet-dss.git
	branch = domain
[submodule "lib/dss-teleport"]
	path = lib/dss-teleport
	url = https://github.com/makerdao/dss-teleport
	branch = V2
[submodule "lib/dss"]
	path = lib/dss
	url = git@github.com:makerdao/dss.git
	branch = v1.2
[submodule "lib/dss-master"]
	path = lib/dss-master
	url = git@github.com:makerdao/dss.git
